@import "tailwindcss";

/* Paleta de color Amawtay */
@theme {
  --color-amw-blue: #050835;
  --color-amw-white: #f9f9f9;
  --color-amw-red: #8d283c;
  --color-amw-lightblue: #3b63a8;
  --color-amw-dark: #333333;
  --color-amw-lightgray: #f0ebe5;
  --color-amw-gray: #dbd6ce;
  --color-amw-sky: #a8cde5;
}

/* Estilos comunes para el modo claro */
body {
  background-color: #f8f8f8;
  color: #000000;
}

/* Estilos para el modo oscuro */
body.dark {
  background-color: #050835;
  /* Fondo oscuro */
  color: #f9f9f9;
  /* Texto claro */
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 rounded-md;
    background-image: linear-gradient(to right, #9f7aea, #6b46c1);
  }

  .btn-secondary {
    @apply py-2 px-4 rounded-md;
    background-image: linear-gradient(to right, #7fbbf5, #3b82f6);
  }
}