@import "tailwindcss";

/* Paleta de color Amawtay */
@theme {
  --color-amw-blue: #050835;
  --color-amw-white: #f9f9f9;
  --color-amw-red: #8d283c;
  --color-amw-lightblue: #3b63a8;
  --color-amw-dark: #333333;
  --color-amw-lightgray: #f0ebe5;
  --color-amw-gray: #dbd6ce;
  --color-amw-sky: #a8cde5;
}

/* Estilos comunes para el modo claro */
body {
  background-color: var(--color-amw-white);
  color: #000000;
}

/* Estilos para el modo oscuro */
body.dark {
  background-color: var(--color-amw-blue);
  color: var(--color-amw-white);
}

@layer components {
  .link-primary-dark {
    @apply py-3 px-3 rounded-md;
    background-image: linear-gradient(to right, #6b46c1, #4c1d95);
  }

  .link-primary-light {
    @apply py-3 px-3 rounded-md;
    background-image: linear-gradient(to right, #3b82f6, #1e40af);
  }

  /* Botón secundario oscuro (más suave) */
  .link-secondary-dark {
    @apply py-3 px-3 rounded-md;
    background-image: linear-gradient(to right, #2d2f45, #3b3f5e);
    color: #d1d5db;
  }

  /* Botón secundario claro (más suave) */
  .link-secondary-light {
    @apply py-3 px-3 rounded-md;
    background-image: linear-gradient(to right, #e4e4e7, #d1d5db);
    color: #1f2937;
  }

  .bg-dark {
    background-color: var(--color-amw-dark);
  }

  .bg-light {
    background-color: var(--color-amw-sky);
  }

  .hover-primary {
    @apply hover:bg-gray-500 transition-colors duration-300;
  }
}